.floating-button{
    position: absolute;
    bottom: 15px;
    left: 15px;
    background-color: white;
    color: black;
    height: 45px;
    width: 45px;
    border: 2px solid;
    border-radius: 100%;
    outline: 0;
    box-shadow: #00000022 3px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform ease-in-out 0.05s;
}

.floating-button:hover{
    cursor: pointer;
}

.floating-button:active{
    transform: scale(0.95);
}

svg{
    height: 100%;
    width: 100%;
}