* {
  box-sizing: border-box;
}
:host {
  --marginButton: 0.3em;
  --maxHeightConsentBox: 30%;
  --maxHeightConsentBoxTablet: 50%;
  --maxHeightConsentBoxMobile: 60%;
  --maxHeightOptionsBox: 80%;

  /* Can be changed in TypeScript */
  --borderRadiusMainbox: 3px;
  --borderRadiusButton: 10px;
  --borderRadiusButtonMobile: 1.5em;
  --backgroundColorButton: #000000;
  --borderColorButton: #000000;
  --textColorButton: #ffffff;
  --textColorMainBox: #000000;
  --backgroundColorMainBox: #ffffff;
  --borderColorMainBox: #000000;
}

button {
  -webkit-appearance: none;
  background: none;
  box-shadow: none;
  font: inherit;
  color: var(--textColorButton);
  background-color: var(--backgroundColorButton);
  border-radius: var(--borderRadiusButton);
  border: 1px solid var(--borderColorButton);
  min-width: fit-content;
  width: 12em;
  height: 3.5em;
  padding: 10px;
  margin: auto 2%;
}

button:hover{
  cursor: pointer;
}

.consent-box, .options-box {
  display: flex;
  position: absolute;
  bottom: 15px;
  margin: 0 5%;
  width: 90%;
  color: var(--textColorMainBox);
  background-color: var(--backgroundColorMainBox);
  border: 1px solid var(--borderColorMainBox);
  border-radius: var(--borderRadiusMainBox);
  justify-content: space-around;
  padding: 10px;
}

.consent-box{
  max-height: var(--maxHeightConsentBox);
}

.options-box{
  max-height: var(--maxHeightOptionsBox);
  flex-direction: column;
}

.options{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.option{
  margin: 1em;
  display: grid;
  min-height: 25px;
  grid-template-columns: 15% auto 25px;
}
.option p{
  margin: 0 auto;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eeeeee;
}
.checkbox-container:hover .checkmark {
  background-color: #cccccc;
}
.checkbox-container input:checked~.checkmark {
  background-color: #278e56;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container input:checked~.checkmark:after {
  display: block;
}
input:focus-visible~.checkmark {
  outline: 2px solid black;
}
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.buttons{
  display: flex;
  justify-content: end;
}
.options-banner-buttons > button{
  margin: auto 5px;
}

.info-text{
  width: 50%;
  height: auto;
  overflow-y: auto;
}


@media only screen and (max-width: 1000px) {
  .primary-banner-buttons{
    flex-direction: column;
  }
    .primary-banner-buttons > button{
    margin: var(--marginButton) auto;
  }
  .consent-box{
    max-height: var(--maxHeightConsentBoxTablet);
  }
}

@media only screen and (max-width: 700px) {
  .consent-box, .options-box {
    flex-direction: column;
    min-height: 300px;
    padding: 10px;
  }
  .consent-box{
    max-height: var(--maxHeightConsentBoxMobile);
  }

  .info-text{
    width: auto;
  }

  button {
    text-align: center;
    width: 90%;
    height: 3.2em;
    border-radius: var(--borderRadiusButtonMobile);
    margin: var(--marginButton) auto;
  }
  
  .options-banner-buttons button{
    margin:var(--marginButton)
  }
}